.text-1{
  position: relative;

  right: 100px;
  float:right;
}
.img-1{
position: relative;
right: 70px;
width:200px ;
height: 259px;

}
table{
  float:right;
}
.sigpic
{float:right;
  width:100px ;
  height: 100px;

}
hr{
  margin-top: 0px;
}
.text-2{
  margin-bottom: 0px;
}
p{
    line-height: 1.6;
}
.text-0{
    margin-bottom: 0px;
}
.para1
{
  margin-top: 0px;
  font-size:14px;
}
.img2{
  width: 310px;
  height: 220px;
  float: right;
  margin-left: 4px;
  margin-right: 4px;
}
